# Talos Linux Worker Node Configuration
# For Intuitive OS / Forge Stack

version: v1alpha1
debug: false
persist: true

machine:
  type: worker
  token: ${MACHINE_TOKEN}

  kubelet:
    image: ghcr.io/siderolabs/kubelet:v1.29.0
    extraArgs:
      feature-gates: GracefulNodeShutdown=true
    extraMounts:
      - destination: /var/ember
        type: bind
        source: /var/ember
        options:
          - rbind
          - rw
      - destination: /var/crucible
        type: bind
        source: /var/crucible
        options:
          - rbind
          - rw
      # For container workloads
      - destination: /var/workloads
        type: bind
        source: /var/workloads
        options:
          - rbind
          - rw

  network:
    hostname: ${HOSTNAME}
    interfaces:
      - interface: eth0
        dhcp: true
    nameservers:
      - 8.8.8.8
      - 8.8.4.4

  install:
    disk: /dev/sda
    image: ghcr.io/siderolabs/installer:v1.6.0
    bootloader: true
    wipe: false

  sysctls:
    net.core.somaxconn: "65535"
    vm.swappiness: "10"

  files:
    - content: |
        HONESTY=true
        KINDNESS=true
        TRUST=true
        TRANSPARENCY=true
      permissions: 0644
      path: /etc/ember/principles
      op: create

    - content: |
        FORGE_MODE=worker
        CINDER_AGENT=true
        LOG_LEVEL=info
      permissions: 0644
      path: /etc/forge/config
      op: create

cluster:
  id: ${CLUSTER_ID}
  secret: ${CLUSTER_SECRET}

  controlPlane:
    endpoint: https://${CONTROL_PLANE_ENDPOINT}:6443
